.container {
    height: 1700px;
    background-color: white;
    position: absolute;
    z-index: 9;
    top:0;
    width: 98%;
}

.box {
    background-color: rgb(181, 15, 3);
    color: white;
    font-size: 30px;
    margin: auto;
    height: 100px;
    justify-content: center;
    padding-top: 80px;
    margin-top: 50px;

}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}