.buttons {
    width: 90%;
    margin: auto;
    height:30px;
    margin-bottom: 30px;
}

.button {
    width: 50%;
    height:100%;
    border-color: black;;
    font-size: large;
    cursor: pointer;
}

.title {
    text-align: center;
}