.upperContainer {
    display: flex;
    justify-content: space-between;
}

.helloContainer {
    margin: 20px 15px 0 0;
    color: rgb(175, 4, 4);
    font-style: italic;
    
}

.hello {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logout{
    margin-top: 6px;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.logout:hover {
    color: red;
    cursor: pointer;
}

.logoutIcon {
    margin-top: 3px;
    margin-left: 6px;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 30px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #080413c7;
    font-weight: 900;
    flex-wrap: wrap;
}

.button {
    border: transparent;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(237, 237, 238);
    font-weight: 700;
    font-size: 18px;
    border: 0.5px solid black;
    margin-top: 10px;
    box-shadow: 6px 4px 3px rgb(148, 148, 148);
}

.button:hover {
    background-color: white;
}

.button:active {
    background-color: white;
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}

.res {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .helloContainer {
        width: 150px;
    }
}